/* Fonts and color */
h1 {
    padding-left: 3em;
    font-size: 50px;
}

h2 {
    color: #eb8117;
    font-size: 30px;      
}

h3 {
    color:#eb8117;
    font-size: 20px;
}
p {
    font-size: 14px;
}

h1, h2, h3 {
font-family: raleway, Verdana, Geneva, Tahoma, sans-serif;
font-weight: normal; }

body {
    font-family: open sans, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    
}


/* Navigation */

header {
   background-color: #5FC1DB ;
   height: 130px;
   display: flex;
   align-items: center;
}

.logo { 
    max-width: 180px;
}

nav a {
    text-decoration: none; 
}

nav li {
    display: inline-block;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 10em;
}

nav a:hover {
    text-decoration: underline;
}

.current {
    text-decoration: underline;
}

.hamburger {
    color: #FFFF;
    display: none;
}

#hamburger-menu {
    display: none;
  }

/* Home Page */

.welcome {
    margin-left: 155px;
}

.museum {
    position: relative;
    left: 1200px;
    bottom: 600px;
}


/* Visit Page */

.visit {
    margin-left: 155px;
}
.visit-two {
    position: relative;
    left: 1100px;
    bottom: 880px;

}


/* Explore Page */

.explore{
    margin-left: 155px;
}
.images-explore  {
    flex-direction: column;
    display: flex;
    position: relative;
    left: 1300px;
    bottom: 600px;
    width: 536px;
}

.science-boy {
    margin-top: 20px;
}


/* Exhibitions Page */
.cosmology {
    margin-left: 155px;
}

.images-exhibitions {
    position: relative;
    left: 1200px;
    bottom: 690px;
}

/* Events Page */
.news {
    margin-left: 155px;
}

.images-events {
    flex-direction: column;
    display: flex;
    position: relative;
    max-width: 500px;
    left: 1100px;
    bottom: 500px; 
}

.scienceing {
    margin-top: 20px;
}

/* Get Involved Page */
.support {
    margin-left: 155px;
}
.images-get {
    flex-direction: column;
    display: flex;
    position: relative;
    max-width: 500px;
    left: 1100px;
    bottom: 550px; 
}

.cube {
    margin-top: 20px;
}


/* Media Queries */
@media screen and (max-width: 1950px) {
 
    .welcome {
        text-align: center;
        margin-left:0px;
}

h1{
    padding-left: 0;
    text-align: center;
}

    .museum {
        position: static;
        text-align: center;
    }

    img {
        max-width: 90%;
}

    .images-index {
        margin-top: 50px;
        text-align: center;
}

    .explore, .news, .support, .cosmology, .visit, .visit-two, .images-exhibitions {
        margin-left: 0px;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
 
}


    .images-explore, .images-exhibitions, .images-events, .images-get, .visit-two {
        position: static;
        margin-left: auto;
        margin-right: auto;
}
}

@media screen and (max-width: 1750px) {
    nav a {
        margin-left: 7em;
}
}

@media screen and (max-width: 1500px) {
    nav a {
        margin-left: 5em;
}
}

@media screen and (max-width: 1200px) {
    nav {
        display: none;
        top: 125px;
        padding: 100px;
        background: #5FC1DB;   
        margin: 0;
        position: fixed;
    }
    
      
    .hamburger {
        display: block;
        padding: 20px;
        width: 5%;
        margin-left: 20px;
        text-align: center;
        font-size: 30px;
  }

    #hamburger-menu:checked ~ nav {
        display: block;
    }

    nav li {
        display: flex;
        flex-direction: column;
        padding: 20px;
        font-size: 18px;

    }

}

